.container {
  width: 100%;
  height: 6vh;
  box-sizing: border-box;
  padding: 1.5rem 2rem 2rem 2rem;
  text-align: center;
  vertical-align: center;
  background-color: #293044;
  color: #FFFFFF;

  .logo {
    width: 15%;
    float: left;
  }

  .menu {
    width: 15%;
    float: right;
  }
}
