.data {
  display: flex;

  .compared-data {
    float: left;
    width: 50%;
  }

  .match {
    float: right;
    margin-left: 40%;
    width: 30%;
    text-align: center;

    img {
      margin-bottom: -15%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
