<div class="container">
  <div class="ip geolocation">
    <app-geolocation></app-geolocation>
  </div>
  <div class="ip web-rtc">
    <app-webrtc></app-webrtc>
  </div>
  <div class="ip timezone">
    <app-timezone></app-timezone>
  </div>
  <div class="ip">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultricies posuere mollis.</p>
  </div>
  <div class="ip span-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultricies posuere mollis.</p>
  </div>
  <div class="ip">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultricies posuere mollis.</p>
  </div>
  <div class="ip">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultricies posuere mollis.</p>
  </div>
</div>
