.container {
  padding: 1em;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
  background-color: #FFFFFF;

  .ip {
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0.3,0);
    background-color: #DCDCDC;

    .data {
      display: flex;

      .compared-data {
        float: left;
        width: 50%;
      }

      .match {
        float: right;
        margin-left: 40%;
        width: 30%;
        text-align: center;

        img {
          margin-bottom: -15%;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .info {
      margin-top: 2em;
      align-content: center;
      align-items: center;
      justify-items: center;
      width: 100%;

      .info-icon {
        margin: 0.5em;
        text-align: center;
        vertical-align: center;
      }

      .info-data {
      }
    }
  }
}


@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
