<div class="container">
  <div class="ip main-ip">
    <app-main-ip
    (whenIP)="updateIP($event)"
    (whenIpLocation)="updateIpLocation($event)">
    </app-main-ip>
  </div>
  <div class="ip web-rtc">
    <app-webrtc
    (whenWebRTCIP)="updateWebRTCIP($event)"
    [IPsMatch]="IPsMatch">
    </app-webrtc>
  </div>
  <div class="ip timezone">
    <app-timezone></app-timezone>
  </div>
  <div class="ip geo">
    <app-geolocation
      (whenGeoApiLocation)="updateGeoApiLocation($event)">
    </app-geolocation>
  </div>
</div>
