<div>
  <h4>
    Demo for:
    <a href="https://github.com/diafygi/webrtc-ips">
      https://github.com/diafygi/webrtc-ips
    </a>
  </h4>
  <p>
    This demo secretly makes requests to STUN servers that can log your
    request. These requests do not show up in developer consoles and
    cannot be blocked by browser plugins (AdBlock, Ghostery, etc.).
  </p>
  <h4>Your local IP addresses:</h4>
  <ul></ul>
  <h4>Your public IP addresses:</h4>
  <ul></ul>
  <h4>Your IPv6 addresses:</h4>
  <ul></ul>
  <iframe id="iframe" sandbox="allow-same-origin" style="display: none"></iframe>
</div>
